

.containerInput {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerInput input {
    position: absolute;
    opacity: 0;
    /* cursor: pointer; */
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    background-color: white;
      border:1px solid rgb(164, 202, 222) 
  
  }
  
  /* On mouse-over, add a grey background color */
  .containerInput:hover input ~ .checkmark {
    background-color: rgb(235, 240, 249);
    transition: linear 0.1s;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerInput input:checked ~ .checkmark {
    background-color: #2196F3;
    transition: linear 0.2s;
    border:1px solid rgb(160, 217, 246)

  }

  .checkBoxLabel{
    margin:0;
    text-align: left;
    color:rgb(62, 61, 61)
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerInput input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerInput .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

