.singlePage {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%
}

.swiperSinglePage {
    width: 90%;
    height: 400px;
}

.singlePageAnnouncementImage {
    width: 100%;
    height: 100%
}

.singlePageAnnouncementImages {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.singlePageUser {
    width: 36%;
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 600px;
    position: sticky;
    top:90px
}

.singlePageAnnouncement {
    width: 60%;
    background-color: rgb(246, 250, 255);
}

.singlePageAnnouncementPrice {
    width: 50%;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}

.singlePageAnnouncementIcons {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

.singlePageAnnouncementPriceDiv {
    display: flex;
    flex-direction: row;
    width: 100% -2px;
    margin: 0 auto;
    border: 1px solid rgb(18, 131, 245);
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    border-radius: 5px;
}

.singlePageAnnouncementDescription {
    /* padding-top: 80px; */
    flex-direction: column;
    width: 86%;
    margin: 0 auto;
}

.singlePageAnnouncementTitle {
    text-align: left;
}

.singlePageAnnouncementText {
    text-align: left;

}

.singlePageAnnouncementDatePosted {
    text-align: left;
}

.singlePageUserTelephone {
    margin-top: 20px;
    width: 80%;
    height: 40px;
    border: 0;
    background-color: rgb(0, 255, 4);
    cursor: pointer;
  
}

.singlePageUserMessage {
    margin-top: 20px;
    width: 80%;
    height: 40px;
    border: 0;
    background-color:rgb(18, 131, 245);
    cursor:pointer

}

.singlePageUsersCommentsInput{
    width:80%;
height:120px;
border:1px solid rgb(18, 131, 245);
border-radius: 5px;
background-color: white;
}
.singlePageUsersCommentsTitle{
margin-top:100px
}

.descriptionTitleGroup{
    margin: 40px 0;
}



.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image-container {
  margin-bottom: 20px;
  width: 400px; /* Ширина контейнера */
  height: 400px; /* Высота контейнера */
  overflow: hidden; /* Скрываем часть изображения, выходящую за пределы контейнера */
}

.main-image {
  width: 100%; /* Растягиваем изображение на всю ширину контейнера */
  height: 100%; /* Растягиваем изображение на всю высоту контейнера */
  background-size: cover; /* Масштабируем изображение так, чтобы оно полностью покрывало фон */
  background-position: center; /* Центрируем изображение */
}

.thumbnails {
  display: flex;
}

.thumbnail {
  width: 50px; /* Ширина миниатюры */
  height: 50px; /* Высота миниатюры */
  margin-right: 5px;
  cursor: pointer;
}

.thumbnail.active {
  border: 2px solid blue; /* Стиль активной миниатюры */
}

.slider {
  margin-top: 20px;
}

.slider button {
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
}