.signInDiv {
    margin: 0 auto;
    padding: 100px 0;
}

.signinInputsDiv {
    width: 30%;
    background-color: rgb(253, 253, 254);
    margin: 0 auto;
    /* border: 1px solid rgb(67, 177, 250); */
    box-shadow: 0 0 10px 1px rgb(67, 177, 250,.4);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 30px 0
}

.signinLogo {
    text-decoration: none;
    font-size: 20px;
    color: #891a85;
    text-align: center;
    padding-bottom: 30px;
    /* margin: 0 auto */
    display: flex;
    justify-content: center;
}

.inputsDiv {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.signInBtnDiv {
    width: 100%;
    background-color: rgb(67, 177, 250);
    margin: 30px 0;
    border-radius: 5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border:none
    /* border: 1px solid rgb(6, 26, 45) */
}

.signInBtnDiv:hover {
    background-color: #74b6e2;
    transition: linear 0.1s;
    cursor: pointer;
}


.signInLabel {
    text-align: center;
    color: #929496;
    font-size: 25px;
    font-weight: 400px;
}

/* .signIn_item_input {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
} */

.signInFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30%;
    background-color: rgb(253, 253, 254);
    border-radius: 5px;
    /* border: 1px solid rgb(67, 177, 250); */
    box-shadow: 0 0 10px 1px rgb(67, 177, 250,.4);

    margin-top: 10px;
    padding: 10px 0
}


.signInFooterLink {
    color: rgb(67, 177, 250);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;

}

.signInFooterText {
    color: rgb(11, 1, 1);
    font-size: 12px;
    font-weight: 400;
}
.forgotPssword{
    margin:0;
    padding:0;
    text-align: right;
    font-size: 12px;
    color: rgb(67, 177, 250)
}



@media (max-width:1200px) {
    .signinInputsDiv{
        width:40%;
        /* background-color:  #0B1023;
        margin: 0 auto;
        border:1px solid #3D4550;
        border-radius:5px;
        margin-bottom: 10px;
        padding:30px 0 */
        }

 .signInFooter{
    width:40%;

 }
 
    .password_link {
        top: 110px
    }
}
@media (max-width:1024px) {
    .signinInputsDiv{
        width:60%;
        /* background-color:  #0B1023;
        margin: 0 auto;
        border:1px solid #3D4550;
        border-radius:5px;
        margin-bottom: 10px;
        padding:30px 0 */
        }
        .signInFooter{
            width:60%;
        
         }
 
    .password_link {
        top: 110px
    }
}


@media (max-width:480px) {
 
 .signinInputsDiv{
    width:90%
 }

 .signInFooter{
    width:90%;

 }
    .password_link {
        text-align: center;
        position: absolute;
        top: 160px;
    }

} 