
.container{
    width:1200px;
    margin:0 auto;
    /* background-color: red; */
}

@media(max-width:1280px){
    .container{
        width:1000px
    }
}

@media(max-width:1024px){
    .container{
        width: 98%
    }
}
@media(max-width:768px){
    .container{
        width: 98%
    }
}

/* @media(max-width:800px){
    .container{
        width: 98%
    }
} */