.headerSearchContainer{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:100%;
    align-items: center;
    margin: 0 auto;
}
.headerSearch{
    height: 60px;
    position: relative;
    /* background-color:aliceblue; */
    display: flex;
    align-items: center;


}
.basketIcon{
color:white;
font-size: 30px;
position: relative;
}
.basketCount{
    color:red;
    position: absolute;
    top:-8px;
    right: 0;
    font-size:14px
}

@media(max-width:1024px){
    .headerSearchContainer{
width:100%
    }
}