.card {
    width: 19.3%;
    background-color: white;
    height: auto;
    /* border-radius: 4px; */
    overflow: hidden;
    text-align: left;
    /* position: relative; */
    border: 1px solid rgba(48, 47, 47, .1);
    border-radius: 4px;
    box-shadow: 0px 2px 0px 0px rgba(48, 47, 47, .1);
}

.card:hover{
    box-shadow: 0px 0px 12px 3px  rgb(18, 131, 245,.2);
    transition:box-shadow 0.6s
}

.cardLink {
    text-decoration: none;

}

.cardContainer {
    width: 100%;
    /* margin: 0 auto; */
    /* padding: 1% 0; */
    height: 94%;
}

.cardImageDiv {
    height: 220px;
    overflow: hidden;
    position: relative;
    /* border: 1px solid rgb(222, 222, 222) */
}

.cardImage {
width: 100%;
  height: 100%;

}

.cardLink:hover .cardTitle {
    color: rgb(32, 21, 240)
}

.cardLink:hover .cardButton {
    background-color: rgb(205, 203, 244)
}


.cardDescription{
    padding: 5px;
    position: relative;
    height: auto;

}

.cardPrice {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Jaldi', sans-serif;

}






.cardButton:hover {
    background-color: rgb(188, 188, 244);
    transition: linear 0.1s;
}







.cardPriceDiv {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}




.cardProductStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
    border-bottom: 1px solid rgb(228, 225, 225);
}

.cardCategoryName {
    margin: 0;
    font-weight: 600;
    color: #727272;
    font-size: 11px;
}



.cardFavoriteIcon {
    font-size: 18px;
    color: black;

}

.cardFavoriteIconActive {
    font-size: 18px;
    color: red;

}

.cardFavoriteIconDiv {
    top: 5px;
    right: 5px;
    position: absolute;
    z-index: 3;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    /* opacity: 0.8; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardTitle {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin: 5px 0;
    color: #000;
    font-size: 15px;
    width: 80%;
    margin: 0;
    font-weight: 400;
    font-family: 'Jaldi', sans-serif;
    line-height: 1.1;

}

/* .cardTitleItems{
    display: flex;
    flex-direction: row;
    align-items: center;
} */
.cardTitleItem {
    margin: 0
}

.cardFavoriteIconDiv:hover {
    opacity: 1;
    transform: scale(1.2);
    cursor: pointer;
    transition: linear 0.2s;
}

.cardShareDiv {
    margin: 0;
    bottom: 5px;
    right: 5px;
    border-radius: 4px;
    position: absolute;
    width: 40px;
    height: 30px;
    /* border-radius: 50%; */
    background-color: rgb(18, 131, 245);
    /* opacity: 0.8; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardShareDiv:hover {
    opacity: 1;
    transform: scale(1.2);
    cursor: pointer;
    transition: linear 0.2s;
}

.cardShare {
    font-size: 16px;
    color: white;
}

.cardRegion {

    align-items: center;
    text-align: left;
    gap: 0 2px;
    width: 96%;
    overflow: hidden;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    font-size: 12px;
    color: rgb(110, 110, 110);
    font-weight: 500;

}

.cardRegionItem {
    margin: 0;
    color: rgb(34, 32, 32);
    font-size: 12px;
}

.cardDescriptionItem {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin: 0;
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-size: 12px;
}

.cardDescriptionItems {
    display: flex;
    flex-direction: row;
    gap: 0 10px;
    padding: 4px 0;
    width: 85%;
    padding: 0;
    text-decoration: none;
    margin-bottom: 5px;
    
}



@media(max-width:1280px) {

    .card {
        width: 24%;
        /* height: 320px */
    }

    /* .cardImageDiv {
        height: 64%;
    } */

}

@media(max-width:1024px) {

    .card {
        width: 24%;
        /* height: 330px */
    }
    .cardImageDiv {
        height: 180px;
    
        /* border: 1px solid rgb(222, 222, 222) */
    }


}

@media(max-width:768px) {

    .card {
        width: 32.7%;
        /* height: 330px */
    }
    .cardImageDiv {
        height: 200px;
    
        /* border: 1px solid rgb(222, 222, 222) */
    }

}

@media(max-width:550px) {

    .card {
        width: 49%;
        /* height: 330px */
    }
    .cardImageDiv {
        height: 200px;
    
        /* border: 1px solid rgb(222, 222, 222) */
    }

}