.basketText {
    width: 75%;
    background-color: white;
    height: 600px;
    border-radius: 20px;
}

.basketMenu {
    width: 20%;
    background-color: white;
    height: 200px;
    border-radius: 20px;
    position: sticky;
    top: 90px;
    /* margin-top: 300px; */
    /* margin:300px auto */
}

.basket {
    /* margin-top: 110px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}

.basketContent {
    width: 90%;
    background-color: white;
    height: auto;
    border-radius: 20px;
    padding: 20px
}

.basketConuntProduct {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.basketConuntProductCheckbox {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    /* background-color: antiquewhite; */
    /* border-bottom:1px solid rgb(180, 116, 240); */
    padding: 5px 0;
    margin: 0 auto
        /* position: relative; */
}

.basketChooseAll {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: absolute ; */
    margin: 0 auto
}

.basketChekBoxChhose {
    font-size: 30px;
    color: red;
    padding: 0 5px;
    cursor: pointer;
}

.basketChoose {
    display: flex;
    flex-direction: row;
    gap: 0 10px;
    cursor: pointer;
}

.basketIcons {
    display: flex;
    flex-direction: row;
    gap: 0 40px
}


.containerFvorite{
    margin-top:100px;
    margin-bottom: 10px;
    padding-bottom:100px
}

.favoriteMenu {
    display: flex;
    flex-direction: row;
    width: 30%;
    /* height: 200px; */
    border-radius: 20px;
    /* position: sticky; */
    top: 100px;
    /* z-index: 30; */
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
    
}

.favoriteMenuItem {
    width: 50%;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: left;

}

.containerBasketChaeckbox {
    width: 100%;
}

.containerFvorite {
    /* background-color: rgb(30, 12, 196); */
    width: 100%;
}

.favoriteMenuItemActive {
    width: 50%;
    padding: 10px;
    text-decoration: none;
    color: rgb(67, 177, 250);
    border-bottom:1px solid rgb(67, 177, 250);
}

.favoriteMenuUsers {
    position: relative;
}

.favoriteMenuAd{
    position: relative;
}

.favoriteMenuUsersCount {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(116, 117, 121);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    top: -10px;
    right: -15px
}

.favoriteMenuUsersCountText {
    color: white
}

.favoriteMenuAdCount {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(116, 117, 121);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    top: -10px;
    right: -15px
}

.favoriteMenuAdCountText{
    color:white
}
.favoriteTitle{
    text-align: left;
}
.favoriteContent{
    width:100%;
    /* background-color: red; */
}
@media(max-width:1024px){
    .containerFvorite{
        width:100%;
        margin-top:70px;
        margin-bottom: 10px;
    }
    .favoriteMenu{
        width:40%
    }
}


@media(max-width:768px){
  
    .favoriteMenu{
        width:60%;
        margin-top:80px
    }
    .favoriteTitle{
        display:none
    }
}

@media(max-width:520px){
    .containerFvorite{
        width:100%;
        margin-top:70px;
        margin-bottom: 10px;
    }
    .favoriteMenu{
        width:80%;
        margin-top:80px
    }

}