.headerSearchMobile{
    display: flex; 
    flex-direction: row;
    background-color: rgb(85, 98, 146);
    /* background-image: linear-gradient(#0986cf,rgb(8, 26, 131)); */
    justify-content: start;
    align-items: center;
    padding:5px 5px;
    position: fixed;
    top:0;
    z-index:4;
    width:100%;
}

.headerSearchMobileActive{
    display: flex; 
    flex-direction: row;
    background-color: white;
    /* background-image: linear-gradient(#0986cf,rgb(8, 26, 131)); */
    justify-content: start;
    align-items: center;
    padding:5px 5px;
    position: fixed;
    top:0;
    z-index:4;
    width:100%;
}
.headerSearchMobileButton{
    font-size: 12px;
    height:30px
}
.headerSearchMobileInputDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height:40px;
    /* background-color: white; */
    /* border-radius: px; */
}

.headerSearchMobileInput{
border-radius: 3px;
border:0;
/* border:1px solid #BE29E7; */
width:70%;
height:34px;
}

.headerSearchMobileContainer{
    display:none
}
.Logo{
    width:10%
}

.headerSearchCancell{
    /* position:absolute; */
    display: flex;
    justify-content: center;
    align-items: center;  
    /* right:40px */
}
@media(max-width:1024px){
    .headerSearchMobileContainer{
        display: block;
    }
}