.headerSearchMobile{
    display: flex; 
    flex-direction: row;
    background-color: rgb(39, 39, 108);
    justify-content: space-around;
    align-items: center;
    padding:10px 5px;
    position: fixed;
    top:0;
    z-index:2;
    width:100%
}
.headerSearchMobileButton{
    font-size: 12px;
    height:30px
}
.headerSearchMobileInputDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:40px;
    /* background-color: white; */
    border-radius: px;
}

.headerSearchMobileInput{
border-radius: 8px;
border:0;
border:1px solid #BE29E7;
width:70%;
height:34px;
}