.headerSearchContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:100%;
    align-items: center;
}
.headerSearch{
    height: 60px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;

}