.realState{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: aqua;
    margin:0 auto
}
.realStateButton{
    width:140px;
    height:40px;
}
.realStateButton:hover +.realState{

    display:block

}
.realStateList{
    display: none;
}